<footer class="block block--dark footer">
    <div class="container grid footer__sections">
      <section class="collaps collaps--expanded footer__section">
        <header class="collaps__header">
          <h2 class="collaps__heading footer__heading">PRODUCTS</h2>

          <svg class="icon icon--white collaps__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collaps__content">
          <ul class="list">
            <li><a href="#">Website Hosting</a></li>
            <li><a href="#">Free automated Wordpress</a></li>
            <li><a href="#">Migrations</a></li>
          </ul>
        </div>
      </section>

      <section class="collaps footer__section">
        <header class="collaps__header">
          <h2 class="collaps__heading footer__heading">COMPANY</h2>

          <svg class="icon icon--white collaps__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collaps__content">
          <ul class="list">
            <li><a href="#">Google</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Snap Inc</a></li>
          </ul>
        </div>
      </section>

      <section class="collaps footer__section">
        <header class="collaps__header">
          <h2 class="collaps__heading footer__heading">DOMAIN</h2>

          <svg class="icon icon--white collaps__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collaps__content">
          <ul class="list">
            <li><a href="#">www.google.co</a></li>
            <li><a href="#">www.fb.com</a></li>
            <li><a href="#">www.snapinc.co<a></li>
          </ul>
        </div>
      </section>
      <section class="footer__brand">
        <img src="images/logo.svg" alt="" />
        <p class="footer__copyright">copyright 2021 Rocky</p>
      </section>
    </div>
  </footer>
